{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% if object_list %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Mobile</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                <td>{{ object.first_name }}</td>
                <td>{{ object.last_name }}</td>
                <td>{{ object.mobile }}</td>
                <td>{{ object.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No objects Found</p>
    {% endif %}
</div>
{% endblock content %}
